# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite database
*.db
*.sqlite3

# dotenv
.env
.env.example

# MacOS
.DS_Store

# Windows
Thumbs.db